<div id="header"> 
  <a class="title" href="/">Noam Server</a>
</div>

<div class="about-novartis"></div>
<div id="background-fixed">
  <div class="background-container container">
    <div class="vert-story row images">
      <div class="col-sm-12">
        <img class="placeholder background img-responsive" src="/images/empty.png" />
        <img class="overlay background img-responsive" src="/images/empty.png" />
      </div>
    </div>
  </div>
</div>
<div id="foreground-fixed">
  <div class="foreground-container container">
    <div class="vert-story row images">
      <div class="col-sm-12">
        <img class="placeholder foreground img-responsive" src="/images/empty.png" />
        <img id="foreground-img" class="overlay foreground img-responsive" src="/images/empty.png" />
      </div>
    </div>
  </div>
</div>