/* line 1, graph.scss */
path.arc {
  cursor: move;
  fill: #eee;
}

/* line 6, graph.scss */
.node {
  font-size: 16px;
}

/* line 10, graph.scss */
.node:hover {
  fill: #1f77b4;
}

/* line 14, graph.scss */
.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

/* line 21, graph.scss */
.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

/* line 26, graph.scss */
.node.target {
  fill: #d62728 !important;
}

/* line 30, graph.scss */
.link.source {
  stroke: #d62728;
}

/* line 34, graph.scss */
.node.source {
  fill: #2ca02c;
}

/* line 38, graph.scss */
.link.target {
  stroke: #2ca02c;
}

/* line 42, graph.scss */
.arc {
  stroke: steelblue;
  fill: steelblue;
}

/* line 46, graph.scss */
.arcText {
  fill: white;
  font: 16pt sans-serif;
}

/* line 51, graph.scss */
.marker {
  stroke: #1f77b4;
  fill: #1f77b4;
  opacity: .4;
}
