.icon {
  width: 25px;
  height: 25px;
}

table {
  border: 1px solid;
}

th, td {
  border-right: 1px solid;
  padding: 5px;
  vertical-align: top;
}

th {
  border-bottom: 4px solid;
}

th:last-child, td:last-child {
  border-right:0;
}

.event {
  width:50px;
}

input[type='text'] {
  text-align: center;
}

.last-value:hover {
  cursor: pointer;
}

.deploy:hover {
  cursor: pointer;
}

.confirm {
  width: 200px;
}
