@font-face { font-family: Droid Sans Mono; src: url('../images/droid.ttf') }
@font-face { font-family: Arvo; src: url('../images/arvo.ttf') }
@font-face { font-family: Arvo Bold; src: url('../images/arvo_b.ttf') }

h1{
	font-family: 'Arvo Bold', serif;
	text-transform: uppercase;
	font-size:2.7em;
	margin:0px auto;
	line-height:1em;
	color:#EFEFEF;
}

#header_container{
	width:560px;
	margin:0 auto 20px auto;

}

#port{
	font-family: 'Arvo', serif;
	text-transform: lowercase;
	font-size:1.1em;
	color:#EFEFEF;
	margin:10px 20px 0 0;
	float:left;
}

#update{
	font-family: 'Arvo', serif;
	text-transform: lowercase;
	font-size:1.1em;
	color:#EFEFEF;
	margin:10px 0;
	float:right;
}

.clear{
	clear:both;
}

body {
	background-color:#111;
	text-align:center;
	padding-top:20px;
}

.icon {
  width: 25px;
  height: 25px;
}

table {
  border: 3px solid #FF530D;
  display:block;
  margin:0 auto;
  /*-moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;*/
  box-shadow: -4px 4px 0px rgba(0, 0, 0, .5);

  font-family: 'Droid Sans Mono', sans-serif;
  font-size:.8em;
}

td, th {
	padding: 8px;
    border-right: 2px solid rgba(255, 255, 255, .2);
}

th {
	text-align: right;
	color:#FF530D;

}
td {
	color:#EFEFEF;
	text-align:left;
}

.event td, .event th {
  text-align: center;
  box-shadow: inset 0px 4px 0px rgba(0, 0, 0, .1);
  color:#EFEFEF;
}

.event th {
  text-align: right;
}

table tr:nth-child(odd).event {
  background-color: #3F5765;
}

table tr:nth-child(even).event {
  background-color: #2B3A42;
}

.event td:last-of-type {
  border-right: none;
  text-align:center;
}

td.event_value {
  width:50px;
  text-align: center;
}

input[type='text'] {
  text-align: center;
}

.last-value:hover {
  cursor: pointer;
}

.confirm {
  width: 200px;
}

.ui-dialog-titlebar{
	border-radius: 0 !important;
	border:1px solid #555 !important;
	background: #2B3A42 !important;
	margin:5px !important;
	padding:5px 10px !important;
}

.ui-dialog-title{
	font-family: 'Arvo Bold', serif;
	text-transform: uppercase;
	font-size:1em;
	margin:0px auto;
	line-height:1em;
	color:#EFEFEF;
	letter-spacing:1;
}
.ui-dialog-content{
	overflow:hidden !important;
	padding: 20px 0px !important;
	margin: 0 !important;
}

.ui-dialog{
	background: #111 !important;
	border: 3px solid #FF530D !important;
	width:600 !important;
}
.ui-dialog image{
	width:50% !important;
}
#manual-event-form{
	margin:0 !important;
}
#manual-event-form input {
	display:block !important;
	float:left !important;
	margin-left: 35px !important;
}
#manual-event-form input[type="image"] {
	width:40px !important;
}
.editor-field select
{
    margin-left: 250px;
}
.ui-widget-overlay{
	background: #000!important;
	opacity:.5 !important;
}
