/* line 3, nav.scss */
.nav {
  color: #592685;
}
/* line 7, nav.scss */
.nav .server-name {
  text-align: right;
  font-size: 2em;
  padding-top: .5em;
}
/* line 12, nav.scss */
.nav .server-name .small {
  color: black;
  font-size: .6em;
}
/* line 19, nav.scss */
.nav .logo {
  padding-top: 19px;
  float: left;
  clear: none;
  height: 71px;
}
/* line 26, nav.scss */
.nav .icon {
  width: 55px;
  height: 71px;
  margin: 0 auto;
  text-align: bottom;
  float: left;
  clear: none;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
}
/* line 35, nav.scss */
.nav .icon .label {
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 44, nav.scss */
.nav .settings {
  background: url(/images/Icon-Settings-OFF.png) no-repeat;
}
/* line 46, nav.scss */
.nav .settings.active {
  background: url(/images/Icon-Settings.png) no-repeat;
}
/* line 51, nav.scss */
.nav .network {
  background: url("/images/Icon-Network-OFF.png") no-repeat;
}
/* line 53, nav.scss */
.nav .network.active {
  background: url("/images/Icon-Network.png") no-repeat;
}
/* line 58, nav.scss */
.nav .power {
  background: url("/images/Icon-Run-OFF.png") no-repeat;
}
/* line 60, nav.scss */
.nav .power.active {
  background: url("/images/Icon-Run.png") no-repeat;
}

/* line 69, nav.scss */
.graph-grid-menu {
  width: 100%;
  margin: 50px auto;
}
/* line 72, nav.scss */
.graph-grid-menu ul {
  width: 201px;
  margin: 0 auto;
}
/* line 76, nav.scss */
.graph-grid-menu ul li {
  font-size: 16pt;
  float: left;
  clear: none;
  width: 80px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
/* line 85, nav.scss */
.graph-grid-menu ul li.active {
  background: #eee;
}

/* line 93, nav.scss */
.menu-title {
  color: #592685;
  font-size: 16px;
  font-weight: 800;
  width: 100%;
  border-bottom: 1px solid #eee;
}

/* line 101, nav.scss */
.dropdown-item-container {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 130px;
  left: 0;
  background: transparent;
}
/* line 109, nav.scss */
.dropdown-item-container .dropdown-item {
  width: 50%;
  height: auto;
  min-height: 150px;
  margin: 0 auto;
  padding: 5px;
  background: white;
  border: 1px solid #eee;
}
/* line 118, nav.scss */
.dropdown-item-container.settings-container > .dropdown-item {
  width: 35%;
  margin: 0 auto;
}
