<h2>Fire Manual Events</h2>
<form id="manual-event-form" action="/fire-event">
  <input type="text" name="name" placeholder="Event Name" />
  <input type="text" name="value" placeholder="Event Value" />
  <input type="image" alt="Fire!" title="Fire!" src="/images/cannon.png" />
</form>
<hr />

