<div id="play-events">
  <form id="manual-event-form" action="/play-event">
    <input id="play-event-name" type="text" name="name" placeholder="Event Name" />
    <input id="play-event-value" type="text" name="value" placeholder="Event Value" />
    <input type="image" alt="Play!" title="Play!" src="/images/play.png" />
  </form>
</div>

