<html>
  <head>
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/stylesheets/jquery-ui-1.8.23.custom.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/javascripts/lib/jquery-1.8.1.min.js"></script>
    <script src="/javascripts/lib/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/javascripts/core/NoamRefresher.js"></script>
    <script src="/javascripts/views/index/noam-web.js"></script>
    <script src="/javascripts/views/index/timeago.js"/></script>
    <title>Noam Server</title>
  </head>
  <body>
    <div>
      <h1>Noam Server</h1>
      <div id="real-time-data"></div>
      <hr />
      <%= erb :_play_manual_events %>
      <%= erb :_shutdown_control %>
    </div>
  </body>
</html>
