<html>
  <head>
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/stylesheets/jquery-ui-1.8.23.custom.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-1.8.1.min.js"></script>
    <script src="/javascripts/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/javascripts/AssetRefresher.js"></script>
    <script src="/javascripts/maestro-web.js"></script>
    <title>Progenitor Maestro</title>
  </head>
  <body>
    <div>
      <h1>Progenitor Maestro</h1>
      <h3>Broadcasting at: <%=@broadcast_port%></h3>
      <div id="real-time-data"></div>
      <hr />

      <%= erb :_play_manual_events %>
      <div id="deploy-assets" />

    </div>
  </body>
</html>
