
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/ico/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <style type="text/css">
      #Channels .table tbody tr:hover {
        background-color: #DDFFDD;
        cursor: pointer;
      }
    </style>
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/views/indexBootstrap/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

    </style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <div class="header">
          <div class="nav container">
              <div class="col-xs-3 logo"><a href="/"><img src="/images/Logo.png"></a></div>
              <div class="col-xs-1"><a href="#" class="settings-button"><div class="icon settings"><div class="label">Settings</div></div></a></div>
              <div class="col-xs-1"><a href="#" class="network-button"><div class="icon network">
                <div class="label">
                  Network
                  </div></div></a></div>
              <div class="col-xs-6 server-name">
                <%= "#{@server_name}" %>
                <span class='small'><%= "#{@ips}" %></span>
              </div>
              <div class="col-xs-1"><a href="#"><div class="icon power"><div class="label">Power</div></div></a></div>
          </div>
      </div>

      <div class="container" id="mainBody">

      <!-- Settings Dropdown -->
        <div class="dropdown-item-container settings-container">
          <div class="dropdown-item">
          <div class="menu-title">Noam Server Name</div>

          <div class="menu-title">Log</div>

          <div class="menu-title">Settings</div>
          <div>
            <table>
              <tr>
                <td>IP</td>
                <td>----</td>
              </tr>
              <tr>
                <td>Discovery UDP Broadcast</td>
                <td>----</td>
              </tr>
              <tr>
                <td>Websocket Port</td>
                <td>---</td>
              </tr>
              <tr>
                <td>UI Port</td>
                <td>---</td>
              </tr>
            </table>
          </div>
          </div>
        </div>
      <!-- End Settings Dropdown -->

      <!-- Network dropdown -->
        <div class="dropdown-item-container network-container">
          <div class="dropdown-item">
            <div class="sectionH">
              <div class="menu-title">Traffic</div>
            </div>
            <div class="sectionH" id="ownedAgentList">
              <div class="menu-title">Your Guests</div>
              <div class="scrollArea">
                <ul></ul>
              </div>
            </div>
            <div class="sectionH" id="freeAgentList">
              <div class="menu-title">Free Guests</div>
              <div class="scrollArea">
                <ul></ul>
              </div>
            </div>
            <div class="sectionH">
              <div class="menu-title">Other Guests</div>
              <div class="scrollArea">
                <ul>
                  <li class="releaseable" data-toggle="tooltip">Participant 1</li>
                  <li class="locked" data-toggle="tooltip">Participant 1</li>
                  <li class="releaseable" data-toggle="tooltip">Participant 1</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <!-- end network dropdown -->


      <div class="alert alert-danger" id="serverDownError" style="display: none;">Server is down.</div>

      <div class="graph-grid-menu">
        <ul>
          <li class="active"><a href="#graph" class="graph-button">Graph</a></li>
          <li><a href="#grid" class="grid-button">Grid</a></li>
        </ul>
      </div>

      <div class="graph-view starter-template">
          <h1>Noam Graph View</h1>
            <div class="graph"></div>
      </div>


      <div class="grid-view starter-template">

        <h1>Noam Grid View</h1>
        
      <div id="Channels">
        <table class="table">
          <thead>
            <tr>
              <td>Channel Name</td>
              <td>Last Updated</td>
              <td>Value</td>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>

 <!--        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Noam Server</a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="dropdown noam-dropdown" style="height: 50px; float: left;">
            <ul class="nav navbar-nav">
              <li>
                <div class="nav-item nav-settings" data-target="#" id="settingsPane" data-toggle="dropdown">
                  <div class="img"></div>
                  Settings
                </div>
                <div class="dropdown-menu" aria-labelledby="settingsPane">
                  <div class="menu-title">Noam Server Name</div>

                  <div class="menu-title">Log</div>

                  <div class="menu-title">Settings</div>
                  <div>
                    <table>
                      <tr>
                        <td>IP</td>
                        <td>----</td>
                      </tr>
                      <tr>
                        <td>Discovery UDP Broadcast</td>
                        <td>----</td>
                      </tr>
                      <tr>
                        <td>Websocket Port</td>
                        <td>---</td>
                      </tr>
                      <tr>
                        <td>UI Port</td>
                        <td>---</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </li>
              <li>
                <div class="nav-item nav-network" data-target="#" id="networkPane" data-toggle="dropdown">
                  <div class="img"></div>
                    Network
                  </a>
                </div>
                <div class="dropdown-menu network" style="width: 800px;" aria-labelledby="networkPane">
                  <div class="sectionH">
                    <div class="menu-title">Traffic</div>
                  </div>
                  <div class="sectionH" id="ownedAgentList">
                    <div class="menu-title">Your Guests</div>
                    <div class="scrollArea">
                      <ul></ul>
                    </div>
                  </div>
                  <div class="sectionH" id="freeAgentList">
                    <div class="menu-title">Free Guests</div>
                    <div class="scrollArea">
                      <ul></ul>
                    </div>
                  </div>
                  <div class="sectionH">
                    <div class="menu-title">Other Guests</div>
                    <div class="scrollArea">
                      <ul>
                        <li class="releaseable" data-toggle="tooltip">Participant 1</li>
                        <li class="locked" data-toggle="tooltip">Participant 1</li>
                        <li class="releaseable" data-toggle="tooltip">Participant 1</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="pull-right"  style="height: 50px; float: left;">
            <ul class="nav navbar-nav">
              <li><a href="#"><%= "#{@server_name}" %></a></li>
              <li><a href="#"><%= "#{@ips}" %></a></li>
              <li style="padding-top: 8px;">
                <div class="nav-item nav-run" data-target="#" data-toggle="dropdown" style="margin-top: -10px;">
                  <div class="img"></div>
                    Network
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div><!--/.nav-collapse
      </div>
    </div>

    <div id="mainContainer" class="container">
      <BR/><BR/>
      <div class="alert alert-danger" id="serverDownError" style="display: none;">Server is down.</div>

      <ul id="mainTabs" class="nav nav-tabs">
        <li class="active"><a href="#graphView" data-toggle="tab">Graph</a></li>
        <li><a href="#gridView" data-toggle="tab">Grid</a></li>
      </ul>

      <!-- Tab panes --
      <div class="tab-content">
        <!-- Graph View Here --
        <div class="tab-pane" id="graphView">
          <BR/>
          <center>
            <img src="" title="Placeholder for graph view" width="400" height="400">
          </center>
        </div>
        <!-- End Graph View --

        <!-- Grid View of Server--
        <div class="tab-pane" id="gridView">
          <div class="starter-template">
            <h4>Noam Grid View</h4>
          </div>

          <div id="Channels">
            <table class="table">
              <thead>
                <tr>
                  <td>Channel Name</td>
                  <td>Last Updated</td>
                  <td>Value</td>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
        -->
      </div>
      </div>


    </div><!-- /.container -->

    <div id="detailPane" pos="400">
      <div class="handle">
        <span class="dir"><</span><BR/>I<BR/>N<BR/>S<BR/>I<BR/>G<BR/>H<BR/>T
      </div>
      <div id="detailViews">

        <div id="detailDefault">
          Click on a Lemma or Topic to view details.
        </div>

        <div id="detailLemma">
          <div>
            <span class="name">Participant 2</span> - <span class="ip">192.168.1.113</span>
            <span class="newWindow"><a href="#">New Window</a></span>
          </div>
          <div class="version">
            Arduino Lemma v-1.0.1
          </div>
          <div class="joinedAt">
            Joined the conversation at -:--AM (------- ago)
          </div>
          <div id="activityGraph">
          </div>
        </div>

        <div id="detailTopic">
          <div>
            <span class="name">Participant 2</span>
            <span class="newWindow"><a href="#">New Window</a></span>
          </div>
          <div class="status">
            Joined the conversation at -:--AM (------ ago)
          </div>
          <div>
            Current Value: <span class="value">192.168.1.113</span>
          </div>
          <form id="sendMessageForm">
          <div>
            <input class="sendMessageValue" type="value"> <button id="sendMessageButton" type="submit" class="btn btn-primary">Send Message</button>
          </div>
          </form>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/libs/jquery-1.8.1.min.js"></script>
    <script src="/javascripts/libs/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/javascripts/libs/bootstrap.min.js"></script>
    <script src="/javascripts/libs/underscore-1.6.0-min.js"></script>
    <script src="/javascripts/libs/timeago.js"/></script>
    <script src="/javascripts/libs/d3.v3.min.js"/></script>
    <script src="/javascripts/core/NoamRefresher.js"></script>
    <script src="/javascripts/views/indexBootstrap/Player.js"></script>
    <script src="/javascripts/views/index/graph.js"></script>
    <script src="/javascripts/views/indexBootstrap/ui.js"></script>
    <script src="/javascripts/views/indexBootstrap/Channel.js"></script>
    <script src="/javascripts/views/indexBootstrap/DetailView.js"></script>
    <script src="/javascripts/views/indexBootstrap/GraphicActivity.js"></script>
    <script src="/javascripts/views/indexBootstrap/FreeAgents.js"></script>
    <script src="/javascripts/views/indexBootstrap/indexBootstrapMain.js"></script>
    <script src="/javascripts/libs/underscore.js"></script>
    <script src="/javascripts/libs/d3/d3.js"></script>
    <script src="/javascripts/libs/d3/d3.layout.js"></script>
  </body>
</html>
