<table cellpadding=0 cellspacing=0>
  <tr>
    <th>Spalla Id</th>
    <% @orchestra.event_names.each do |event| %>
      <th><%= event %></th>
    <% end %>
  </tr>
  <tr>
    <td>Last Value</td>
    <% @orchestra.event_names.each do |event| %>
      <td class="event"><%= @values.get(event) %></td>
    <% end %>
  </tr>

  <% @orchestra.players.each do |spalla_id, player| %>
    <tr>
      <td><%= spalla_id %></td>
      <% @orchestra.event_names.each do |event| %>
        <td>
          <% if player.hears?(event) %>
            <img src="/images/play.png" class="icon"/>
          <% end %>
          <% if player.plays?(event) %>
            <img src="/images/hear.png" class="icon"/>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>

