this is refresh @ <%= DateTime.now %>
<br />
<br />
this is the global value <%= @x %>


<table>
  <tr> 
    <th>Spalla</th>
    <th>Speed - <%= @speed %></th>
    <th>RPMS - <%= @rpms %></th>
  </tr>
  <tr>
  </tr>
</table>

